requests
lxml
selenium
webdriver-manager
fake-useragent
pandas
numpy
transformers
datasets
accelerate
peft
sentencepiece
scikit-learn
streamlit
tqdm
python-dotenv
sentence-transformers
chromadb
bitsandbytes